<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="static/styles/login.css" />
    <style>
      .login-container {
        height: auto;
      }

      #user,
      #librarian,
      #author {
        width: fit-content;
        display: inline;
      }

      #signupbtn {
        width: 99%;
        margin-top: 2rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <h1>Signup</h1>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let errorMessage = '{{ get_flashed_messages(category_filter=["error"])[0] if get_flashed_messages(category_filter=["error"]) }}';
            if (errorMessage && errorMessage.includes('exists')) {
                alert(errorMessage);
            }
        });
    </script>
      <form method="POST" action="/signup">
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" required /><br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" required /><br />
        <div class="role">
          <input type="radio" id="user" name="role" value="user" checked />
          <label for="user">Signup as User</label><br />
          <input type="radio" id="librarian" name="role" value="librarian" />
          <label for="librarian">Signup as Librarian</label><br />
          <input type="radio" id="author" name="role" value="author" />
          <label for="author">Become an Author</label><br />
        </div>
        <button type="submit" value="Signup" id="signupbtn">Sign Up</button>
      </form>
    </div>
  </body>
</html>
