<style>
  .navbar {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 70vw;
    margin: 1rem auto;
    border-radius: 12px;
    display: block;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    transition: 0.1s ease-in-out all;
    padding: 0.5rem;
  }

  .navbar > a:hover {
    background-color: #b06363;
    border-radius: 6px;
    color: white;
    /* font-weight: 800; */
  }
</style>

<div class="navbar">
  <a href="/dashboards/librarian_dashboard">Dashboard</a>
  <a href="/user">List Users</a>
  <a href="/users/details">User Details</a>
  <a href="/requests">Book Requests</a>
  <a href="/stats?users=true">User Stats</a>
  <a href="/manage">Manage Books/Sections</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
