<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Finished Reading</title>
    <style>
      body {
          background: linear-gradient( to right, #24243e, #302b63, #0f0c29 );
          color: white;
      }

      .container {
          padding: 8rem 20rem;
      }
      .navbar {
          left: 8% !important;
      }
  </style>
  </head>
  <body>
    {% include 'dashboards/usernav.html' %}
    <div class="container">
      <h1>Books I've Finished Reading</h1>
      {% if finished_books %} {% for user_book, book in finished_books %}
      <div>
        <h2>{{ book.name }} by {{ book.author }}</h2>
        <p>Returned On: {{ user_book.t_return.strftime('%Y-%m-%d') }}</p>
        <a
          href="{{ url_for('give_feedback', book_id=book.id) }}"
          class="btn btn-primary"
          >Give Feedback</a
        >
      </div>
      {% endfor %} {% else %}
      <p>You have not finished any books.</p>
      {% endif %}

    </div>
  </body>
</html>
