<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Requested Books Awaiting Approval</title>
    <style>
      body {
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        color: white;
      }

      .container {
        padding: 8rem 20rem;
      }
      .navbar {
        left: 8% !important;
      }

      .container > ul {
        width: 55%;
        list-style: none;
      }

      .container > ul > li {
        margin-bottom: 2rem;
        background-color: #231f59;
        padding: 1rem;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    {% include 'dashboards/usernav.html' %}
    <div class="container">
      <h1>Requested Books Awaiting Approval</h1>
      {% if requested_books %}
      <ul>
        {% for user_book, book in requested_books %}
        <li>
          <strong>{{ book.name }}</strong> by {{ book.author }}
          <br />
          Requested on: {{ user_book.t_request.strftime('%Y-%m-%d %H:%M:%S') }}
          {% if user_book.is_rejected %}
          <span style="color: red">Rejected</span>
          {% else %}
          <span style="color: orange">Awaiting Approval</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No books requested or all requests have been processed.</p>
      {% endif %}
    </div>
  </body>
</html>